<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797253797965-2fealoa4nlp3fof4qtf0fehn3s7st2ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797253797965-2fealoa4nlp3fof4qtf0fehn3s7st2ne</string>
	<key>API_KEY</key>
	<string>AIzaSyA1cevbjVLXcO-0ig60-TjdRrmqIbfISnA</string>
	<key>GCM_SENDER_ID</key>
	<string>797253797965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eCommerceAssignment</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-e55e6</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-e55e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797253797965:ios:8376f1a02c0fb20f04f404</string>
</dict>
</plist>